div{
    background-color: blue; 
    color: rgba(218, 70, 1, 0.925);
    border: 2px dotted gold;
    
}
p{text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}